<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Royal Oak </title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/royal_logo.jpeg" />
        <!-- Template CSS -->
        <link href="asset/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
       
            
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
      
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="userHome" class="brand-wrap">
                    <p>Royal Oak </p>
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="profile">
                            <i class="icon material-icons md-account_circle user-logo"></i>
                            <span class="text">Hii <%=user.name%></span>
                        </a>
                    </li>
                    
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="">
                            <i class="icon material-icons md-shopping_cart"></i> 
                            <span class="text">Orders</span>
                        </a>
                        <div class="submenu">
                        <a href="myorder"> My orders</a>
                    </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Address</span>
                        </a>
                        <div class="submenu">
                            <a href="alladdress"> All Address</a>
                            <a href="addaddress"> Add Address </a>
                           
                          
                          
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Wallet</span>
                        </a>
                       
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-favorite"></i> 
                            <span class="text">WishList</span> 
                        </a>
                        
                       
                    </li>
                    
                   
                    
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                       
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                          
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="asset/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                              
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>


    
            